.filter--root {
  margin-bottom: 15px;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(140deg, #f96b2e26, #2d386326);
  color: #2d3863;
}

.filter--title {
  text-align: left;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.filter--controls {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter--text {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}

.text-input {
  font-size: 16px;
  border: 0px;
  border-bottom: 1px solid #2d3863;
  background-color: transparent;
  color: #2d3863;
}

.text-input:focus {
  outline: none;
}

.filter--text-input {
  height: 30px;
  width: 150px;
}

.price-range--input {
  height: 30px;
  width: 50px;
  text-align: center;
}

.filter--item {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter--text.checkbox-label {
  margin-left: 10px;
  margin-right: 0;
}

@media screen and (max-width: 769px) {
  .filter--root {
    height: 235px;
  }

  .filter--controls {
    margin-top: 35px;
    flex-direction: column;
    align-items: flex-start;
  }
}
