.home--root {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #2d386316;
}

.home--body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
