.products-grid--root {
  height: calc(100vh - 280px);
  border: 2px solid #2d38639d;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.products-grid--body {
  max-height: calc(100vh - 285px);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  gap: 10px;
  padding: 5px;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.products-grid--root::-webkit-scrollbar {
  display: none;
}

.product-card {
  min-height: 120px;
  max-height: 120px;
  background-image: linear-gradient(140deg, #f96b2e26, #2d386326);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.unavailable--image {
  height: 100px;
  position: absolute;
  left: calc(50% - 110px);
}

.unavailable {
  opacity: 0.3;
}

.product-card--text {
  color: #2d3863;
  text-align: left;
  font-size: 16px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  height: 45%;
}

.product-card--details {
  display: flex;
  justify-content: space-between;
}

.product-card--id-and-controlls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.product-card--controlls {
  width: 155px;
  display: flex;
  justify-content: space-between;
}

.controlls--btn {
  height: 28px;
  width: 75px;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 550;
  z-index: 1;
}

.controlls--btn:hover {
  cursor: pointer;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.08),
    0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.delete {
  background-color: #f96b2e;
  color: #f4f4f4;
}

.edit {
  background-color: #2d3863;
  color: #f4f4f4;
}

.identification {
  font-size: 12px;
  margin-top: auto;
}
